{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <div class="d-flex flex-row align-items-center mt-5">
    <div><h1>{% translate "Collections" %}</h1></div>
    <div class="ps-2"><a href="{% url 'etl:fetch' %}" class="btn btn-primary">{% translate "Fetch" %}</a></div>
  </div>
  <table class="table table-striped">
    <tbody>
    {% for collection in object_list %}
      <tr>
        <td><a href="{% url 'etl:details' collection.id %}">{{ collection.created }}</a></td>
      </tr>
    {% empty %}
      <tr>
        <td class="text-center">{% translate "No collections available, click Fetch to download a new one." %}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock content %}
